@font-face{
    font-family: "BYekan";
    src: url("../fonts/yekan/BYekan-webfont.eot") format("eot"),
        url("../fonts/yekan/BYekan-webfont.woff") format("woff"),
        url("../fonts/yekan/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "BYekan";
    direction: rtl;
    text-align: right;
}

.main_container{
    border: 1px solid green;
    border-radius: 5px;
}
.main_container .col {
    border: 1px solid green;
    border-radius: 5px;
    background: purple;
    height: 100px;
}

nav .sidenav-trigger{
    float: right;
}

nav .brand-logo{
    width: 100px;
    top: 0.5rem;
}
nav .brand-logo img{
    width: 100%;
}

#mobile-demo{
    background: linear-gradient(#151f20c5 , #273335b9 , #112325d3) ,
        url(../images/sideBack.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mobile-demo li{
    width: 100%;
}
#mobile-demo li a{
    text-align: center;
    color: white;
}

@media(min-width:992px){
    nav .brand-logo{
        right: unset !important;
        left: 0.5rem !important;
    }
}